.film-container{
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Cormorant', serif;
    color: #c9c9c9;
}


.video-wrapper{
    width: 80vw;
    max-width: 100rem;
    aspect-ratio: 16/9;
    border-radius: 2rem;
    overflow: hidden;
    margin-top: -6rem;
}

.video-wrapper iframe{
    width: 100%;
    height: 100%;
    border: none;
}

.filmsTitle{
    text-align: center;
    font-family: 'Cormorant', serif;

    font-size: 4rem;
    font-weight: 200;
    color: #c9c9c9;
    margin-bottom: -1rem;
    margin-top: -1rem;
}

.film-blocks-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem;
  justify-content: center;
}
  
.film-block-item {
  aspect-ratio: 16 / 9;
  background-color: #1a1a1a;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  font-size: 1.2rem;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .reelBlock{
    border: 3em;
  }

  .film-block-item img,
.film-block-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}



.film-background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.film-title-overlay {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}
  /* Stack on mobile */
  @media (max-width: 768px) {
    .film-block-item {
      flex: 1 1 100%;
    }
  }
  

 /* Laptop and Desktop */
 @media (min-width: 901px) {
    .Films-title{
        font-size: 5rem;
        font-weight: 200;
        margin-top: -0.1rem;
    }

}